In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode
import plotly.graph_objs as go
plotly.offline.init_notebook_mode(connected=True)

import scipy as sp

u'0.22.0'

In [13]:
stats_list=pd.read_csv("../datasets/radio_audience.csv")
df = pd.DataFrame(stats_list)
df.head()

       Radio station   Audience
0          Ukhozi FM  7 294 000
1  Umhlobo Wenene FM  5 208 000
2           Metro FM  3 968 000
3          Lesedi FM  3 440 000
4         Thobela FM  2 819 000

In [14]:
df.describe()

        Radio station Audience
count              35       35
unique             35       35
top     Motsweding FM  952 000
freq                1        1

## Plotting Some Data

We have our data read in and have completed some basic analysis. Let’s start plotting it.

In [15]:
Listeners = df[['Radio station','Audience']]
Listeners.head()

       Radio station   Audience
0          Ukhozi FM  7 294 000
1  Umhlobo Wenene FM  5 208 000
2           Metro FM  3 968 000
3          Lesedi FM  3 440 000
4         Thobela FM  2 819 000

This representation has multiple lines for each Listener. In order to understand radio station patterns, let’s group all the radio stations by name. We can also look at the number of entries per audience to get an idea for the distribution.

In [16]:
Listener_group = Listeners.groupby('Radio station')
Listener_group.size()

Radio station
5FM                   1
702                   1
947                   1
Algoa FM              1
CapeTalk              1
Capricorn FM          1
Classic FM 102.7      1
East Coast Radio      1
Gagasi FM             1
Good Hope FM          1
Heart 104.9 FM        1
Ikwekwezi FM          1
Jacaranda FM          1
KFM                   1
Kaya FM 95.9          1
Lesedi FM             1
Ligwalagwala FM       1
Lotus FM              1
Metro FM              1
Motsweding FM         1
Munghana Lonene FM    1
North West FM         1
OFM                   1
Phalaphala FM         1
Power 98.7            1
RSG                   1
Radio 2000            1
SAfm                  1
Smile 90.4FM          1
Thobela FM            1
Ukhozi FM             1
Umhlobo Wenene FM     1
Vuma 103 FM           1
YFM 99.2              1
trufm                 1
dtype: int64

Now that we know what the data look like, it is very simple to create a quick bar chart plot. Using the IPython notebook, the graph will automatically display.

In [19]:
%load_ext autoreload
%autoreload 2

In [25]:
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly
import pandas as pd

In [1]:
stats_list=pd.read_csv("https://github.com/boratonAJ/drought_warrior/blob/master/datasets/radio_audience.csv")

table = ff.create_table(stats_list)
py.iplot(table, filename='../datasets/radio_table1')

NameError: name 'pd' is not defined